body {
	font-family: 'Oswald', sans-serif;
	background-color: rgba(48, 154, 160, 0.2);
}
.text-black {
	color: black !important;
}
.text-title {
	font-family: 'Permanent Marker', cursive !important;
	letter-spacing: 0.3rem;
	text-decoration: uppercase;
	color: var(--mainBlue);
}
:root {
	--mainBlue: #2a2a72;
	--lightBlue: #009ffd;
	--mainWhite: #f3f3f3;
	--maindark: #232528;
	--mainYellow: #ffa400;
}

.text-heading1 {
	font-family: 'Permanent Marker', cursive !important;
	color: red;
	text-shadow: 4px 4px 4px black;
}
.text-heading2 {
	font-family: 'Permanent Marker', cursive !important;
	color: orange;
	text-shadow: 4px 4px 4px black;
}
.fav1 {
	background: linear-gradient(to bottom, #006666 0%, #33cccc 100%);
}

.fav2 {
	background: linear-gradient(to right, #006666 0%, #33cccc 100%);
}

.fav3 {
	background: linear-gradient(to top right, #006666 0%, #33cccc 100%);
}

.fav4 {
	background: linear-gradient(to top left, #006666 0%, #33cccc 100%);
}
.bg1 {
	background: linear-gradient(to bottom, #43cea2 0%, #185a9d 100%);
}

.bg2 {
	background: linear-gradient(to right, #43cea2 0%, #185a9d 100%);
}

.bg3 {
	background: linear-gradient(to top right, #43cea2 0%, #185a9d 100%);
}

.bg4 {
	background: linear-gradient(to top left, #43cea2 0%, #185a9d 100%);
}

.letter-spacing {
	letter-spacing: 0.1rem;
}

.image-upload.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image-upload__preview {
	width: 300px;
	height: 300px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 1rem;
}

.image-upload__preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.my-card-shadow {
	box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.modal-header {
	height: 20%;
	width: 100%;
	background-color: skyblue;
}
