body {
	font-family: 'Oswald', sans-serif;
}
.text-black {
	color: black !important;
}
.text-title {
	font-family: 'Permanent Marker', cursive !important;
	letter-spacing: 0.3rem;
	text-decoration: uppercase;
	color: var(--mainBlue);
}
:root {
	--mainBlue: #2a2a72;
	--lightBlue: #009ffd;
	--mainWhite: #f3f3f3;
	--maindark: #232528;
	--mainYellow: #ffa400;
}

.text-heading1 {
	font-family: 'Permanent Marker', cursive !important;
	color: red;
	text-shadow: 4px 4px 4px black;
}
.text-heading2 {
	font-family: 'Permanent Marker', cursive !important;
	color: orange;
	text-shadow: 4px 4px 4px black;
}
.fav1 {
	background: linear-gradient(to bottom, #006666 0%, #33cccc 100%);
}

.fav2 {
	background: linear-gradient(to right, #006666 0%, #33cccc 100%);
}

.fav3 {
	background: linear-gradient(to top right, #006666 0%, #33cccc 100%);
}

.fav4 {
	background: linear-gradient(to top left, #006666 0%, #33cccc 100%);
}
.bg1 {
	background: linear-gradient(to bottom, #43cea2 0%, #185a9d 100%);
}

.bg2 {
	background: linear-gradient(to right, #43cea2 0%, #185a9d 100%);
}

.bg3 {
	background: linear-gradient(to top right, #43cea2 0%, #185a9d 100%);
}

.bg4 {
	background: linear-gradient(to top left, #43cea2 0%, #185a9d 100%);
}
