body {
	font-family: 'Oswald', sans-serif;
	background-color: rgba(48, 154, 160, 0.2);
}
.text-black {
	color: black !important;
}
.text-title {
	font-family: 'Permanent Marker', cursive !important;
	letter-spacing: 0.3rem;
	text-decoration: uppercase;
	color: var(--mainBlue);
}
:root {
	--mainBlue: #2a2a72;
	--lightBlue: #009ffd;
	--mainWhite: #f3f3f3;
	--maindark: #232528;
	--mainYellow: #ffa400;
}

.text-heading1 {
	font-family: 'Permanent Marker', cursive !important;
	color: red;
	text-shadow: 4px 4px 4px black;
}
.text-heading2 {
	font-family: 'Permanent Marker', cursive !important;
	color: orange;
	text-shadow: 4px 4px 4px black;
}

.letter-spacing {
	letter-spacing: 0.1rem;
}

.image-upload.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image-upload__preview {
	width: 300px;
	height: 300px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 1rem;
}

.image-upload__preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.my-card-shadow {
	box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}

.bg-primary {
	background: linear-gradient(to left, #43cea2 0%, #185a9d 100%);
}
